In [11]:
import pandas as pd

In [12]:
filename = "serial/COM5_2025_10_27.17.05.57.636.txt"
df = pd.read_csv(filename, header=None)
df.columns = ['inference_time_us']
df['inference_time_ms'] = df['inference_time_us'] / 1000
df['inference_time_s'] = df['inference_time_ms'] / 1000
df

     inference_time_us  inference_time_ms  inference_time_s
0              3580044           3580.044          3.580044
1              3581357           3581.357          3.581357
2              3581582           3581.582          3.581582
3              3578875           3578.875          3.578875
4              3579368           3579.368          3.579368
..                 ...                ...               ...
235            3525256           3525.256          3.525256
236            3527203           3527.203          3.527203
237            3524990           3524.990          3.524990
238            3525953           3525.953          3.525953
239            3522425           3522.425          3.522425

[240 rows x 3 columns]

In [13]:
df.describe()

       inference_time_us  inference_time_ms  inference_time_s
count       2.400000e+02         240.000000        240.000000
mean        3.532503e+06        3532.502775          3.532503
std         6.270068e+04          62.700678          0.062701
min         3.379086e+06        3379.086000          3.379086
25%         3.517403e+06        3517.403250          3.517403
50%         3.578610e+06        3578.609500          3.578609
75%         3.580597e+06        3580.597250          3.580597
max         3.590693e+06        3590.693000          3.590693